---
type Props = {
  data: {
    name: string;
    icon: string;
    link: string;
    status: string;
    description: string;
    iconDescription: string;
  };
};

const { data } = Astro.props;
const currentYear = new Date().getFullYear();
---

<div class="mt-5">
  {
    data.status === "enabled" && (
      <footer class="flex text-sm">
        <span class="ml-1 mr-1">&copy;</span>
        <span class="ml-1 mr-1">{currentYear}</span>
      </footer>
    )
  }
</div>
