---
type Props = {
  data: {
    name: string;
    icon: string;
    link: string;
    status: string;
    description: string;
  };
};

const { data } = Astro.props;
---

<div>
  {
    data.status === "enabled" && (
      <img
        src={data.link}
        class="object-cover object-center rounded-full border-4 w-80 h-80"
        alt="hero"
      />
    )
  }
</div>
