---
type Props = {
  data: {
    name: string;
    icon: string;
    link: string;
    status: string;
    description: string;
  };
};

const { data } = Astro.props;
---

{
  data && data.status === "enabled" && (
    <div>
      <h1>{data.name}</h1>
    </div>
  )
}
